<h1>Edit Book</h1>

<%= form_for @book do |f| %>
	<div class="field">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	
	<div class="field">
		<%= f.label :author %>
		<%= f.text_field :author %>
	</div>	

	<div class="field">
		<%= f.label :year %>
		<%= f.text_field :year %>
	</div>

	<div class="field">
		<%= f.label :isbn %>
		<%= f.text_field :isbn %>
	</div>

	<div class="field">
		<%= f.label :genre %>
		<%= f.text_field :genre %>
	</div>
	
	<div class="actions">
		<%= f.submit %>
	</div>	

<% end %>
